<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Capabilities | Atlas Sage</title>        
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div class="capabilities page">
            <div class="hero">
                <div class="hero-content padding">
                    <h1>Our Capabilities</h1>
                    <h2>Custom built design, development, & hosting</h2>
                </div>
            </div>
            <div class="content padding">
                <div>
                    <h3>Component Driven Design</h3>
                    <%- include('../components/richtext') %>
                    <%- include('../components/accordion') %>
                </div>
                <div>
                    <h3>Technology & Infrastructure</h3>
                </div>
                <div>
                    <h3>Delivery & Optimization</h3>
                </div>
            </div>
        </div>
        <%- include('../components/footer') %>
    </body>
</html>